body{
    background-color:#F8F8F8;
    font-family: verdana, arial, sans-serif;
}

.recipe img{
    float:right;
    width: 35%;
    height: 35%;
    padding: 50px;
    margin-right:80px;
}

.recipe ul{
    padding-left: 55px;
    list-style-type:disc;
}
.recipe ol{
    padding-left:55px;
    list-style-type:decimal;
    margin-bottom:50px;
}
.recipe li{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.recipe h3,h2,h1{
    font-family:"Comic Sans MS", cursive, sans-serif;
    padding-left:30px;
    padding-top: 5px;
    padding-bottom: 5px;   
    color: #CD853F;
}
.recipe h3{
    padding-top:10px;
    font-size:25px;
}
.recipe h2{
    font-size:15px;
    color:black;
    border: 1px;
    background-color:#F5DEB3
}
.recipe h1{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 10px;   
}
div.comments{
    padding-top:5px;
    padding-left:20px;
    display:inline-block;
}
.comments input[type=image]{
    width:20px;
    height:20px;
    float:right;
}

.comments h3{
    font-size: 20px;
    padding-top:60px;
    padding-left: 20px;
    font-weight: 400;
    font-family: Tahoma, Geneva, sans-serif;
}

.comments li{
    font-size: 14px;
    padding: 4px;
    margin: 4px;
    margin-top: 10px;
    background-color: white;
    border: 2px solid rgb(240,240,240);
    border-radius: 3px;
}
.comments li p{
    text-align: center;
}
.writecomment{
    padding-left:20px;
    width:100%;
}
.writecomment input[type=submit]{
    padding-top:10px;
    margin-bottom:5px;
    width:60%;
    background-color:#A9A9A9;
    color:black;
    font-size:15px;
}
.writecomment input[type=submit]:hover{
    background-color:white;
}
.writecomment textarea{
    padding-top:5px;
    width:60%;
}
.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F5FFFA;
}
.navbar img{
    height:30px;
    width: 30px;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    text-align: center;
    color:black;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a.current{
    color: white;
    background-color: rgba(88, 196, 140, .4);
}
.navbar li a:hover {
    background-color: #666;
}

.navbar li.loggedin{
    float:right;
    color: black;
    font-size:11px;
    padding-right:5px;
    padding-top:5px;
}
.navbar li.loggedin img{
    width:20px;
    height:20px;
}

body#home{
   background-size:cover;
   background-image:url("images/foodbackground.jpg");
}
.homepage{
    background-color:rgba(255,255,255,0.877);
    border: 2px solid rgb(88,196,140);
    border-radius:10px;
    text-align:center;
    width:30%;
    margin-top:20px;
    margin:auto;
    padding:10px;      
}
.homepage h1{
    text-align:center;
    font-size:40px;
    color:rgb(89,176,120);
}
.homepage p{
    font-size:22px;
    color: rgb(49,156,100);
}
.loginpage input[type=text]{
    width:35%;
    padding:5px;
    margin-top:15px;
    padding-left:5px;
    font-size:13px;
    margin-bottom:30px;
}
.loginpage input[type=submit]{
    width:35%;
    background-color: rgb(50,205,50);
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin-top: 10px;
    margin-bottom:15px
}

.loginpage input[type=submit]:hover{
    background-color:rgba(68, 176, 120, 0.877);
}

.weekdays{
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}
.weekdays li{
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
.days{  
    padding-left:10px;
    padding-top:20px;
    background: white;
    margin: 0;  
    height: 80%;
}
.days img{
    width:100%;
    height:84%;
    position:absolute;
}
.days li {
    border: 1px solid black;
    list-style-type: none;
    display: inline-block;
    width: 13.5%;
    height: 7.7vw;
    text-align: left;
    margin-bottom: 15px;
    margin-left:2px;
    font-size:1em;
    color:#777;
    position: relative;
}
